worker_processes  auto;
pid /run/nginx.pid;
error_log  /var/log/nginx/error.log debug;

events {
  worker_connections  1024;
}

http {
    {{range .Servers}}
    server {
        listen {{.Addr}};
        server_name {{.ServerName}};
        {{range .Locations}}
        location /{{.Path}} {
            access_log /var/log/nginx/access.log;
            rewrite ^/{{.Path}}(.*)$ /$1 break;
            proxy_pass http://{{.IP}}:{{.Port}}/;
        }
        {{end}}
    }
    {{end}}
}